@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App {
  margin: 100px 0px;
  text-align: center;

}

.m {
  margin-left: 10px;
  margin-top: 10px;
}

.input {
  padding: 5px 0px;
}

body {
  background-color: lightblue;
  font-family: 'Quintessential', cursive;
}


.ss {
  margin-top: 5px;
  text-align: left;
}

h2{
  font-size: 30px;
  font-weight: 700;
  margin-bottom:20px;
  margin-top:10px;
  border-bottom:2px  solid black;
}

h4{
  font-size: 30px;
  font-weight: 500;
}


.delete-sec {
  color: red;
  font-size: 15px;
  margin-top:5px ;
  margin-right:10px ;
}

.delete-sec:hover {
  color: white;

}

.Contain {
  margin: 10px 0px;
  background-color: rgb(253, 218, 59);
  
}

.Contain :hover{
background-color: black;
color: white;
}
.remove{
  margin: 10px 0px;
 
}
.List-Con{
border: 3px solid black;
height: auto;
border-radius: 20px;
}

.fa{
cursor: pointer;
}


@media only screen and (max-width: 360px) {

  h2{
    font-size: 20px;
    font-weight: 700;
  }
  
  h4{
    font-size: 20px;
    font-weight: 500;
  }


  .App {
    margin: 100px 0px;
    text-align: center;
  
  }
  .Contain {
    border: 2px solid yellow;
    margin: 10px 0px;
    
  }  


}
